In [1]:
import pandas as pd

In [8]:
df_ccle =pd.read_csv('data/CCLE_expressionEnsemble.csv')
display(df_ccle.head())
df_ccle.rename(columns={'Unnamed: 0':'Broad_ID'},inplace=True)
display(df_ccle.head())

,Unnamed: 0,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),GCLC (2729),...,H3C2 (8358),H3C3 (8352),AC098582.1 (8916),DUS4L-BCAP29 (115253422),C8orf44-SGK3 (100533105),ELOA3B (728929),NPBWR1 (2831),ELOA3D (100506888),ELOA3 (162699),CDR1 (1038)
0,ACH-001113,4.331992,0.000000,7.364397,2.792855,4.470537,0.028569,1.226509,3.042644,6.499686,...,2.689299,0.189034,0.201634,2.130931,0.555816,0.0,0.275007,0.0,0.0,0.000000
1,ACH-001289,4.566815,0.584963,7.106537,2.543496,3.504620,0.000000,0.189034,3.813525,4.221104,...,1.286881,1.049631,0.321928,1.464668,0.632268,0.0,0.014355,0.0,0.0,0.000000
2,ACH-001339,3.150560,0.000000,7.379032,2.333424,4.227279,0.056584,1.310340,6.687061,3.682573,...,0.594549,1.097611,0.831877,2.946731,0.475085,0.0,0.084064,0.0,0.0,0.042644
3,ACH-001538,5.085340,0.000000,7.154109,2.545968,3.084064,0.000000,5.868143,6.165309,4.489928,...,0.214125,0.632268,0.298658,1.641546,0.443607,0.0,0.028569,0.0,0.0,0.000000
4,ACH-000242,6.729145,0.000000,6.537607,2.456806,3.867896,0.799087,7.208381,5.569856,7.127014,...,1.117695,2.358959,0.084064,1.910733,0.000000,0.0,0.464668,0.0,0.0,0.000000

,Broad_ID,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),GCLC (2729),...,H3C2 (8358),H3C3 (8352),AC098582.1 (8916),DUS4L-BCAP29 (115253422),C8orf44-SGK3 (100533105),ELOA3B (728929),NPBWR1 (2831),ELOA3D (100506888),ELOA3 (162699),CDR1 (1038)
0,ACH-001113,4.331992,0.000000,7.364397,2.792855,4.470537,0.028569,1.226509,3.042644,6.499686,...,2.689299,0.189034,0.201634,2.130931,0.555816,0.0,0.275007,0.0,0.0,0.000000
1,ACH-001289,4.566815,0.584963,7.106537,2.543496,3.504620,0.000000,0.189034,3.813525,4.221104,...,1.286881,1.049631,0.321928,1.464668,0.632268,0.0,0.014355,0.0,0.0,0.000000
2,ACH-001339,3.150560,0.000000,7.379032,2.333424,4.227279,0.056584,1.310340,6.687061,3.682573,...,0.594549,1.097611,0.831877,2.946731,0.475085,0.0,0.084064,0.0,0.0,0.042644
3,ACH-001538,5.085340,0.000000,7.154109,2.545968,3.084064,0.000000,5.868143,6.165309,4.489928,...,0.214125,0.632268,0.298658,1.641546,0.443607,0.0,0.028569,0.0,0.0,0.000000
4,ACH-000242,6.729145,0.000000,6.537607,2.456806,3.867896,0.799087,7.208381,5.569856,7.127014,...,1.117695,2.358959,0.084064,1.910733,0.000000,0.0,0.464668,0.0,0.0,0.000000

In [10]:
df_dep_map = pd.read_csv('data/DepMap-2018q3-celllines.csv')
df_dep_map = df_dep_map[['Broad_ID','CCLE_Name']]
df_dep_map.head()

     Broad_ID                                  CCLE_Name
0  ACH-000557  AML193_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE
1  ACH-001000              1321N1_CENTRAL_NERVOUS_SYSTEM
2  ACH-000198    EOL1_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE
3  ACH-000956                             22RV1_PROSTATE
4  ACH-000948                            2313287_STOMACH

In [12]:
df_merged = pd.merge(df_ccle, df_dep_map, on='Broad_ID')
df_merged.head()

,Broad_ID,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),GCLC (2729),...,H3C3 (8352),AC098582.1 (8916),DUS4L-BCAP29 (115253422),C8orf44-SGK3 (100533105),ELOA3B (728929),NPBWR1 (2831),ELOA3D (100506888),ELOA3 (162699),CDR1 (1038),CCLE_Name
0,ACH-001113,4.331992,0.000000,7.364397,2.792855,4.470537,0.028569,1.226509,3.042644,6.499686,...,0.189034,0.201634,2.130931,0.555816,0.0,0.275007,0.0,0.0,0.000000,LC1SQSF_LUNG
1,ACH-001289,4.566815,0.584963,7.106537,2.543496,3.504620,0.000000,0.189034,3.813525,4.221104,...,1.049631,0.321928,1.464668,0.632268,0.0,0.014355,0.0,0.0,0.000000,COGAR359_SOFT_TISSUE
2,ACH-001339,3.150560,0.000000,7.379032,2.333424,4.227279,0.056584,1.310340,6.687061,3.682573,...,1.097611,0.831877,2.946731,0.475085,0.0,0.084064,0.0,0.0,0.042644,COLO794_SKIN
3,ACH-000242,6.729145,0.000000,6.537607,2.456806,3.867896,0.799087,7.208381,5.569856,7.127014,...,2.358959,0.084064,1.910733,0.000000,0.0,0.464668,0.0,0.0,0.000000,RT4_URINARY_TRACT
4,ACH-000708,4.272023,0.189034,7.022923,2.555816,3.841973,0.000000,0.097611,4.888013,4.926474,...,1.480265,0.321928,1.891419,0.201634,0.0,0.000000,0.0,0.0,0.000000,SNU283_LARGE_INTESTINE

In [13]:
ccle_id = df_merged.pop('CCLE_Name')
df_merged.insert(0,'CCLE_Name',ccle_id)
df_merged.head()

,CCLE_Name,Broad_ID,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),...,H3C2 (8358),H3C3 (8352),AC098582.1 (8916),DUS4L-BCAP29 (115253422),C8orf44-SGK3 (100533105),ELOA3B (728929),NPBWR1 (2831),ELOA3D (100506888),ELOA3 (162699),CDR1 (1038)
0,LC1SQSF_LUNG,ACH-001113,4.331992,0.000000,7.364397,2.792855,4.470537,0.028569,1.226509,3.042644,...,2.689299,0.189034,0.201634,2.130931,0.555816,0.0,0.275007,0.0,0.0,0.000000
1,COGAR359_SOFT_TISSUE,ACH-001289,4.566815,0.584963,7.106537,2.543496,3.504620,0.000000,0.189034,3.813525,...,1.286881,1.049631,0.321928,1.464668,0.632268,0.0,0.014355,0.0,0.0,0.000000
2,COLO794_SKIN,ACH-001339,3.150560,0.000000,7.379032,2.333424,4.227279,0.056584,1.310340,6.687061,...,0.594549,1.097611,0.831877,2.946731,0.475085,0.0,0.084064,0.0,0.0,0.042644
3,RT4_URINARY_TRACT,ACH-000242,6.729145,0.000000,6.537607,2.456806,3.867896,0.799087,7.208381,5.569856,...,1.117695,2.358959,0.084064,1.910733,0.000000,0.0,0.464668,0.0,0.0,0.000000
4,SNU283_LARGE_INTESTINE,ACH-000708,4.272023,0.189034,7.022923,2.555816,3.841973,0.000000,0.097611,4.888013,...,1.367371,1.480265,0.321928,1.891419,0.201634,0.0,0.000000,0.0,0.0,0.000000

In [14]:
df_merged.to_csv('data/CCLE_expressionEnsemble_DepMap.csv')