In [2]:
import pandas as pd

In [25]:
df = pd.read_csv('FixIt.csv', index_col=0)

In [26]:
df.head()

,Label,BARCODE
@52070900777209100209406331451825.CEL,0.910223,@52070900777209100209406331451827
@52070900777209100209406331451827.CEL,0.819914,@52070900777209100209406331451844
@52070900777209100209406331451844.CEL,0.676532,@52070900777210100209406331451864
@52070900777210100209406331451864.CEL,1.072747,@52070900777210100209406331451879
@52070900777210100209406331451879.CEL,0.843531,@52070900777210100209406331451886

In [32]:
#combine columns 2 and 3 into 1 column
df['combined'] = df['Label'].astype(str) + '-' + df['BARCODE']

In [33]:
df.head()

,Label,BARCODE,combined
@52070900777209100209406331451825.CEL,0.910223,@52070900777209100209406331451827,0.910222595-@52070900777209100209406331451827
@52070900777209100209406331451827.CEL,0.819914,@52070900777209100209406331451844,0.819914463-@52070900777209100209406331451844
@52070900777209100209406331451844.CEL,0.676532,@52070900777210100209406331451864,0.676532443-@52070900777210100209406331451864
@52070900777210100209406331451864.CEL,1.072747,@52070900777210100209406331451879,1.072746734-@52070900777210100209406331451879
@52070900777210100209406331451879.CEL,0.843531,@52070900777210100209406331451886,0.843530916-@52070900777210100209406331451886

In [34]:
new_df = df.drop(['Label', 'BARCODE'], axis=1)

In [35]:
new_df.head()

                                                                            combined
@52070900777209100209406331451825.CEL  0.910222595-@52070900777209100209406331451827
@52070900777209100209406331451827.CEL  0.819914463-@52070900777209100209406331451844
@52070900777209100209406331451844.CEL  0.676532443-@52070900777210100209406331451864
@52070900777210100209406331451864.CEL  1.072746734-@52070900777210100209406331451879
@52070900777210100209406331451879.CEL  0.843530916-@52070900777210100209406331451886

In [44]:
first_row_id_list = []
second_row_id_list = []
for row in new_df.itertuples():
    first_row_id = row[0].split('.')[0]
    first_row_id_list.append(first_row_id)
    if not pd.isna(row[1]):
        second_row_id = row[1].split('-')[1]
        second_row_id_list.append(second_row_id)

In [48]:
print(len(first_row_id_list))
print(len(second_row_id_list))

643
335

In [49]:
# find intersection between the two lists
intersection = set(first_row_id_list).intersection(set(second_row_id_list))
print(len(intersection))

335