In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CCLE_expression_proteincoding_genes_expected_count.csv')

In [4]:
df.head()
df.transpose().head()

,0,1,2,3,4,5,6,7,8,9,...,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405
Unnamed: 0,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
TSPAN6 (7105),2383.0,2529.0,1552.0,5657.0,22806.0,3390.0,2265.0,8.0,3318.0,3164.0,...,18976.0,2382.0,3223.0,5978.0,1959.0,9.0,1485.0,4790.0,41694.0,3188.0
TNMD (64102),0.0,13.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,271.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DPM1 (8813),5332.8,3978.0,8303.0,6309.2,5090.6,6578.5,3972.5,3274.0,5409.0,3541.5,...,8622.2,4363.0,6057.5,1865.0,4472.0,5703.7,6347.0,7969.0,68557.0,3680.0
SCYL3 (57147),961.53,555.83,849.46,1056.5,1109.1,1087.4,703.07,2574.5,859.23,798.81,...,1309.5,691.45,510.89,437.67,554.01,2220.7,415.14,825.67,7315.7,930.41

In [4]:
df.describe()

,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),GCLC (2729),NFYA (4800),...,H3C2 (8358),H3C3 (8352),AC098582.1 (8916),DUS4L-BCAP29 (115253422),C8orf44-SGK3 (100533105),ELOA3B (728929),NPBWR1 (2831),ELOA3D (100506888),ELOA3 (162699),CDR1 (1038)
count,1406.000000,1406.000000,1406.00000,1406.000000,1406.000000,1406.000000,1406.000000,1406.000000,1406.000000,1406.000000,...,1406.000000,1406.000000,1406.000000,1406.000000,1406.000000,1406.000000,1406.000000,1406.000000,1406.000000,1406.000000
mean,2959.075391,5.412518,5012.83702,1019.789993,1578.527838,391.404694,2975.894275,6878.525484,5216.074253,4130.303677,...,22.886202,14.802987,120.084872,1275.750967,14.407297,1.123314,94.418919,1.189772,1.551358,1.362902
std,3980.974103,49.606284,4077.77934,772.137137,1068.132839,2182.014592,9268.084055,7564.465514,7305.091699,2806.343614,...,33.752667,25.302644,147.354811,992.340118,19.185633,3.608452,335.340068,4.245000,4.952565,4.183553
min,0.000000,0.000000,762.00000,226.780000,13.760000,0.000000,0.000000,0.000000,181.000000,415.000000,...,0.000000,0.000000,0.000000,95.180000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,904.500000,0.000000,3020.62500,603.887500,928.855000,1.000000,14.000000,2920.550000,1863.500000,2503.150000,...,7.000000,1.000000,41.362500,682.540000,2.747500,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2121.000000,0.000000,4114.10000,843.995000,1354.400000,3.000000,191.655000,5768.550000,3128.250000,3426.500000,...,13.000000,7.000000,83.830000,1010.850000,8.390000,0.000000,2.500000,0.000000,0.000000,0.000000
75%,3707.750000,0.000000,5717.75000,1184.175000,1948.025000,10.000000,2243.925000,9227.825000,5660.000000,4900.675000,...,27.000000,18.000000,151.170000,1568.125000,18.825000,0.670000,35.000000,0.330000,0.942500,0.015000
max,57012.000000,1365.000000,68557.00000,10544.000000,11024.000000,28542.000000,198030.000000,138340.000000,93539.000000,36278.000000,...,476.000000,301.000000,2710.600000,13550.000000,198.000000,51.670000,3946.000000,82.210000,75.830000,45.860000

In [ ]:
merge new df (make sure its aligned) to the above transposed df
get a list of which columns are with which df