In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('data/y_test_sf_234568.csv')
df.head()

  cell_line        SF
0   KMRC2-2  0.436296
1   KMRC2-3  0.364625
2   KMRC2-4  0.364416
3   KMRC2-5  0.347423
4   KMRC2-6  0.369256

In [19]:
df.set_index('cell_line', inplace=True)
df.head()

                 SF
cell_line
KMRC2-2    0.436296
KMRC2-3    0.364625
KMRC2-4    0.364416
KMRC2-5    0.347423
KMRC2-6    0.369256

In [23]:
transpose_df = df.transpose()
transpose_df.head()

cell_line,KMRC2-2,KMRC2-3,KMRC2-4,KMRC2-5,KMRC2-6,KMRC2-8,A673-2,A673-3,A673-4,A673-5,...,KYSE450-4,KYSE450-5,KYSE450-6,KYSE450-8,OVCAR5-2,OVCAR5-3,OVCAR5-4,OVCAR5-5,OVCAR5-6,OVCAR5-8
SF,0.436296,0.364625,0.364416,0.347423,0.369256,0.348489,0.349923,0.120299,0.0971,0.072,...,0.73979,0.635183,0.445215,0.108089,0.607771,0.320905,0.20997,0.442143,0.142699,0.0462

In [24]:
cell_line_list = transpose_df.columns.tolist()

In [25]:
only_number_of_interest = []
for cell_line in cell_line_list:
    cell_line_number = cell_line.split('-')[1]
    if cell_line_number == '2':
        only_number_of_interest.append(cell_line)
print(only_number_of_interest)

['KMRC2-2', 'A673-2', 'L33-2', 'NCIH2030-2', 'SNU761-2', 'YD10B-2', 'SJSA1-2', 'SKMEL5-2', 'VCAP-2', 'GCT-2', 'NCIH1944-2', 'MFE319-2', 'DBTRG05MG-2', 'LMSU-2', 'HEC251-2', 'NCIH1048-2', 'HELA-2', 'RH18-2', 'MDAMB361-2', 'HT29-2', 'SNU475-2', 'SNU423-2', 'SNU81-2', 'NCIH358-2', 'CAKI1-2', 'NCIH23-2', 'NCIH211-2', 'SAOS2-2', 'KYSE410-2', 'ONS76-2', 'CAMA1-2', 'LUDLU1-2', 'TOV112D-2', 'PATU8988T-2', 'SW480-2', 'CW2-2', 'OVK18-2', 'LOVO-2', 'NCIH1355-2', 'PANC0813-2', 'TCCPAN2-2', 'ZR751-2', 'MCF7-2', 'TE4-2', 'HEPG2-2', 'WM1799-2', 'ASPC1-2', 'PECAPJ49-2', 'HSC3-2', 'LN18-2', 'HEC151-2', 'KYSE450-2', 'OVCAR5-2']

In [27]:
df2 = transpose_df.loc[:, only_number_of_interest]
df2 = df2.transpose()
df2.to_csv('data/only_y_test_2.csv')
df2.head()

                  SF
cell_line
KMRC2-2     0.436296
A673-2      0.349923
L33-2       0.802621
NCIH2030-2  0.542406
SNU761-2    0.809869